body, html {
    margin: 0;
    padding: 0;
}

nav .nav-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}

.transparent {
    height: 70px;
}

nav .nav-wrapper ul li a:hover {
    color: #ec5e87;
}

nav .nav-wrapper img {
    margin-bottom: -7px;
}

nav .nav-wrapper .brand-logo {
    font-size: 20px;
}

nav .nav-wrapper .brand-logo:hover {
    color: #CFE1FF;
    transition: color 0.4s ease 0s;    
}

.but1 a{
    background-color: #ec5e87;
    text-align: center;
    font-size: 20px;
}

.but1 a:hover {
    background-color: #d62e5e;
    transition: 0.5s ease 0s;    
}

.landing-heading {
    margin-top: 30%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

div.parallax-container {
    height: 657px;
}

.row div {
    height: 152px;
    text-align: center;
}

.latest-news {
    font-family: 'Roboto', sans-serif;
}

.boxes3 a {
    font-size: 35px;
    font-weight: bold;
}

.read .center{
    margin-top: 20%;
}

.read .center a:hover {
    background-color: #35151e;
}

.quote {
    height: 239px;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: #213E8C;
}

.quote .italic {
    font-style: italic;
    padding-top: 4%;
    font-size: 30px;
}

.quote-content {
    font-size: 18px;
    margin-top: -2%;
}

.left-sidebar {
    position: fixed;
    top: 30%;
    right: 0%;
    z-index: 999;
}

.left-sidebar ul{
    border: none;
    background: rgb(23, 32, 148);
}

.left-sidebar i.fab {
    font-size: 15px; 
}

.left-sidebar li {
    width: 50px;
    transform: 5s;
}

.left-sidebar li:nth-child(1){
    background-color: #0E2973;
    border-bottom: #0E2973;
}
.left-sidebar li:nth-child(2){
    background-color: #0E2973;
    border-bottom: #0E2973;
}
.left-sidebar li:nth-child(3){
    background-color: #0E2973;
    border-bottom: #0E2973;
}
.left-sidebar li:nth-child(4){
    background-color: #0E2973;
}

.card .card-content {
    margin-top: 14%;
    font-weight: bold;
    font-size: 23px;
}

.footer-copyright{
    margin-top: 10%;
}

/* input {
    background: url('/Images/email.PNG') no-repeat cover;
} */

.signup {
    height: 40px;
    padding: 10px 16px;
    margin-left: -7px;
    background-color: #EC5E87;
}

.signup-cont {
    margin-top: -60px;
}

.signup:hover, .donate-button:hover, .reg-button:hover {
    background-color: #d4194ec7;
    cursor: pointer;
}

.height {
    height: 525px;
}

.join-us {
    background-color: #213E8C;
    margin-top: 4%;
}

.donate-button {
    height: 40px;
    width: 100px;
    padding: 15px 28px;
    font-size: 20px;
    background-color: #EC5E87;
    color: white;
}

.join-us img {
    margin-top: -13px;
}

.height h1 {
    font-family: 'Open sans', sans-serif;
    margin-top: 16%;
}

.height h4 {
    margin-bottom: 16%;
}

.foot {
    display: flex;
}

.foot div {
    margin-right: 5%;
    padding: 5%;
}
.footer-element{
    flex:1;
    padding:10px;
}
.footer-element2{
    flex:2;
    padding:10px;
}

.footer-copyright
{
    height: 50px;
    background-color: #101F46;
    margin-top: -3%;
}

.info span {
    font-weight: bold;
}

.copyright {
  padding-top: 1%;
}

.width{
    width:90%;
    border:none;
} 

.display{
    display:inline-block;
}
.collapsible-header:hover  .display{ 
    display:none;
}
.center-div{
    margin-left:15%;
} 
.collapsible-header{
    border-bottom:2px solid #EC407A;
}
.date{
    font-size:42px; 
}
.superscript{
    font-size:15px;
    position:relative;
    top:-25px;
}
.subscript{
    font-size:15px;
    position:relative;
    left:-35px;
}
.text:hover{
    color:#EC407A;
}
.text{
    font-size:30px;
    color:black;
}
.location{
    font-size:17px;
}
